@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-foreground: 255 255 255;
    --color-background: 0 0 0;
    --color-primary: 132 204 22;
    --color-secondary: 202 138 4;
    --color-accent: 4 68 202;
    --color-destructive: 0 93 60;
    --color-black: 255, 255, 255;
    --color-white: 0, 0, 0,;
    --color-red: 0 84.24 60;
    --foreground: #000000;
    --background: #ffffff;
    --transparent: 'transparent';
  }
  #tsparticles canvas {
    background-color: rgb(var(--color-background));
  }
}

body {
  color: rgb(var(--color-foreground));
  background: rgb(var(--color-background));
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(var(--foreground));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(var(--color-background));
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-foreground));
}