@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-foreground: 255 255 255;
    --color-background: 0 0 0;
    --color-primary: 132 204 22;
    --color-secondary: 202 138 4;
    --color-accent: 4 68 202;
    --color-accent2: 239 68 68;
    --color-destructive: 239 68 68;
    --color-black: 255, 255, 255;
    --foreground: #000000;
    --background: #ffffff;
  }
  #tsparticles canvas {
    background-color: rgb(var(--color-background));
  }
}
@font-face {
  font-family: 'GeistSans';
  src: url('../public/fonts/Geist/GeistVariableVF.woff2');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GeistMono';
  src: url('../public/fonts/GeistMono/GeistMonoVariableVF.woff2');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

 #mdx h1 {
    font-size: 1.8rem;
    line-height: 40px;
    margin-top: 10px;
    color: rgb(var(--color-primary));
  }
  #mdx h2 {
    font-size: 1.6rem;
    line-height: 40px;
    margin-top: 10px;
    color: rgb(var(--color-secondary));
  }
  #mdx h3 {
    font-size: 1.2rem;
    color: rgb(var(--color-primary));
  }
  #mdx p {
    font-size: 15px;
    font-weight: 100;
  }
  #mdx ul {
    list-style-type: circle;
    list-style-position: inside;
  }
  #mdx li {
    font-size: 15px;
    font-weight: 100;
  }

body {
  color: rgb(var(--color-foreground));
  background: rgb(var(--color-background));
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(var(--foreground));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(var(--color-background));
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-foreground));
}

.prevent-selection {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}